<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>


  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="CMS.Services" />
    <container name="ClientContainer">
      <register type="CMS.Services.Interfaces.IClientService" mapTo="CMS.Services.Clients.TestClientService" />
    </container>

    <container name="LoginContainer">
      <register type="CMS.Repositories.Interfaces.ILoginRepository" mapTo="CMS.Repositories.LoginRepository" />
      <register type="CMS.Services.Interfaces.ILoginService" mapTo="CMS.Services.Login.UsernamePasswordLogin" />
    </container>

    <container name="CardContainer">
      <register type="CMS.Services.Interfaces.ICardService" mapTo="CMS.Services.Cards.TestCardService" />
    </container>

  </unity>
  
</configuration>